.fa-youtube-play {
  font-size: 3em !important;
  color: red;
}
.fa-facebook-official {
  font-size: 3em !important;
  color: #3b5998;
}
.fa-linkedin-square {
  font-size: 3em !important;
  color: #287bbc;
}
.fa-envelope-o {
  font-size: 3em !important;
  color: #d14836;
}
